# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

c++_primer_ex/*
!c++_primer_ex/*.cc
!c++_primer_ex/*.h
!c++_primer_ex/*.hpp
!c++_primer_ex/*.c
!c++_primer_ex/*.cpp

uva/chap9/*
!uva/chap9/*.cc
